
<html>
<head>
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}sitestyle.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery13.js"></script>
   <script type="text/javascript" src="{{ MEDIA_URL }}jquery.color.js"></script> 
    
    <script type="text/javascript" src="{{ MEDIA_URL }}updatecount.js"></script>  

<META name="y_key" content="f82aa3b14f7247de">
   
{% block standardscripts %}

{% endblock %} 

{% block extrascripts %}




{% endblock %}

 

    <title>{% block title %} {% endblock %}</title>
    {% block rss %}  {% endblock %}
    
</head>
<body>
    
  
{% block content%} {% endblock %}





</body>    
</html>
