 <div id="headerbox">
    <a href="{% url popularurl %}"> 
                     <img  src="{{ MEDIA_URL }}delicious.png"  alt="delicious"  /> 
    
                                      <img  src="{{ MEDIA_URL }}twitter.png"  alt="twitter"  /> 
    
                                      <img  src="{{ MEDIA_URL }}google.png"  alt="google"  /> 
    
                                      <img  src="{{ MEDIA_URL }}facebook.png"  alt="facebook"  />
                                      &nbsp; 
   Social Media Listener  &nbsp; &nbsp;    </a>
 </div>